@charset "utf-8";
/* CSS Document */

#aboutush1{
	text-align:center;
	font-size:60px;
	font-family:Agency,FB;
	font-weight:bolder;
}

#intro{
	font-size:70px;
	margin-left:20px;
	font-family:Agency FB;
	font-weight:bolder;
	color:#FFF;
}

#pintro{
	font-size:30px;
	font-weight:100;
	font-family:agency fb;
	margin-left:70px;
	color:#FFF;
}

#imgrabbit{
	margin-top:-60px;
	margin-left:20px;
}

#imgduck{
	margin-top:20px;
	margin-left:20px;
	float:left;
}

#historyh1{
	font-size:32px;
	font-family:Agency,FB;
	font-weight:bold;
	color:#FFF;
}

#historyh2{
	font-size:32px;
	font-family:Agency,FB;
	font-weight:bold;
	margin-left:30px;
	color:#FFF;
}

#slider{
	overflow:hidden;
}

#slider figure{
	position:relative;
	width:500%;
	margin:0;
	left:0;
	animation:12s slider infinite;
}

#slider figure img{
	width:20%;
	float:left;
}

@keyframes slider{
	0%{left:0;}
	10%{left:0;}
	30%{left:-100%;}
	50%{left:-200%;}
	70%{left:-300%;}
	90%{left:-400%;}
	100%{left:0;}
	}
	
.backgrounddiv{
	background-color:rgba(0,0,0,0.3);
	box-shadow:5px solid #000;
}




/*NAV & HEADER STYLING Started*/
header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
header nav {
  font-size: 30px;
  margin-top: 30px;
  width: 100%;
	font-family: agency fb;

}
header nav ul, header nav li {
  list-style: none;
  margin: 0;
  padding: 0;
}
header nav .navigation {
  background: red;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media only screen and (min-width: 992px) {
  header nav .navigation {
    flex-direction: row;
  }
}
header nav .navigation .menu-item {
  display: inline-flex;
  min-height: 75px;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  border: 3px solid black;
  border-bottom: 0;
  -webkit-transition: 0.2s background-color ease;
  -moz-transition: 0.2s background-color ease;
  transition: 0.2s background-color ease;
}
header nav .navigation .menu-item.has-children {
  position: relative;
}
header nav .navigation .menu-item.has-children > a::after {
  content: "\f0d7";
  position: relative;
  font-family: 'FontAwesome';
  left: 10px;
  font-size: 16px;

}
header nav .navigation .menu-item.has-children:hover .submenu {
  visibility: visible;
  opacity: 1;
	text-decoration: none;
}
header nav .navigation .menu-item.has-children .submenu {
  position: absolute;
  top: calc(100% - 2px);
  left: 50%;
  background: #FFFFFF;
  border: 1px solid #DEDEDE;
  min-width: 180px;
  visibility: hidden;
  opacity: 0;
  z-index: 11;
  border-radius: 4px;
  -webkit-box-shadow: 0 4px 6px -2px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 4px 6px -2px rgba(0, 0, 0, 0.25);
  box-shadow: 0 4px 6px -2px rgba(0, 0, 0, 0.25);
  padding: 15px 0 10px;
  -webkit-transition: 0.4s opacity ease;
  -moz-transition: 0.4s opacity ease;
  transition: 0.4s opacity ease;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  transform: translateX(-50%);
  text-decoration: none;
}
@media only screen and (min-width: 992px) {
  header nav .navigation .menu-item.has-children .submenu {
    left: 5px;
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    transform: translateX(0%);
  }
}
header nav .navigation .menu-item.has-children .submenu::before {
  content: "";
  position: absolute;
  background: #FFFFFF;
  top: -7.5px;
  left: 10px;
  height: 14px;
  width: 14px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  transform: rotate(45deg);
}
header nav .navigation .menu-item.has-children .submenu .dropdown-item > a {
  color: #AEAEAE;
  display: block;
  font-size: 18px;
  font-weight: bold;
  padding: 2px 10px 2px 15px;
}
header nav .navigation .menu-item.has-children .submenu .dropdown-item > a:hover {
  color: #1E1E1E;
  background-color: #F0F0F0;
	text-decoration: none;
}
header nav .navigation .menu-item.active {
  background: black !important;
}
header nav .navigation .menu-item:first-of-type {
  background-color: #FF595E;
}
header nav .navigation .menu-item:nth-of-type(2) {
  background-color: #FF99CC;
}
header nav .navigation .menu-item:nth-of-type(3) {
  background-color: #663366;
}
header nav .navigation .menu-item:nth-of-type(4) {
  background-color: #009F34;
}
header nav .navigation .menu-item:nth-of-type(5) {
  background-color: #20B2AA;
}
header nav .navigation .menu-item:last-of-type {
  background-color: #999999;
}
header nav .navigation .menu-item:last-of-type {
  border-bottom: 3px solid black;
}
@media only screen and (min-width: 992px) {
  header nav .navigation .menu-item {
    flex-basis: 16.6666666667%;
    border: 3px solid black;
    border-right: 0;
  }
  header nav .navigation .menu-item:last-of-type {
    border-radius: 3px solid black;
  }
}
header nav .navigation .menu-item:hover {
  background-color: #000000;
}
header nav .navigation .menu-item .item-icon {
  max-height: 50px;
}
header nav .navigation .menu-item > a {
  color: white;
  font-weight: bolder;
  font-size: 25px;
  text-transform: uppercase;
	text-decoration: none;
}


/*xxNAV & HEADER STYLING ENDxx*/









/*POPUP Login Styling STARTED*/

.modal-wrapper {
	font-family: agency fb;
  position: fixed;
  z-index: 12;
  overflow-y: auto;
  background-color: rgba(0, 0, 0, 0.65);
  visibility: hidden;
  opacity: 0;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-transition: 0.2s opacity ease;
  -moz-transition: 0.2s opacity ease;
  transition: 0.2s opacity ease;
  
}
.modal-wrapper .fa-close {
  position: absolute;
  color: #C0C0C0;
  font-size: 28px;
  cursor: pointer;
  top: 10px;
  right: 10px;
}
.modal-wrapper .fa-close:hover {
  color: white;
}
.modal-wrapper .bg-decoration {
  position: fixed;
  z-index: 14;
  max-height: 400px;
  top: 100px;
}
.modal-wrapper .bg-decoration.left {
  left: 0;
  -webkit-transform: translateX(-65%);
  -moz-transform: translateX(-65%);
  transform: translateX(-65%);
}
@media (min-width: 576px) {
  .modal-wrapper .bg-decoration.left {
    -webkit-transform: translateX(-55%);
    -moz-transform: translateX(-55%);
    transform: translateX(-55%);
  }
}
@media (min-width: 768px) {
  .modal-wrapper .bg-decoration.left {
    -webkit-transform: translateX(-35%);
    -moz-transform: translateX(-35%);
    transform: translateX(-35%);
  }
}
@media only screen and (min-width: 992px) {
  .modal-wrapper .bg-decoration.left {
    -webkit-transform: translateX(-15%);
    -moz-transform: translateX(-15%);
    transform: translateX(-15%);
  }
}
@media only screen and (min-width: 1200px) {
  .modal-wrapper .bg-decoration.left {
    -webkit-transform: translateX(20%);
    -moz-transform: translateX(20%);
    transform: translateX(20%);
  }
}
.modal-wrapper .bg-decoration.right {
  right: 0;
  -webkit-transform: translateX(65%);
  -moz-transform: translateX(65%);
  transform: translateX(65%);
}
@media (min-width: 576px) {
  .modal-wrapper .bg-decoration.right {
    -webkit-transform: translateX(55%);
    -moz-transform: translateX(55%);
    transform: translateX(55%);
  }
}
@media (min-width: 768px) {
  .modal-wrapper .bg-decoration.right {
    -webkit-transform: translateX(35%);
    -moz-transform: translateX(35%);
    transform: translateX(35%);
  }
}
@media only screen and (min-width: 992px) {
  .modal-wrapper .bg-decoration.right {
    -webkit-transform: translateX(15%);
    -moz-transform: translateX(15%);
    transform: translateX(15%);
  }
}
@media only screen and (min-width: 1200px) {
  .modal-wrapper .bg-decoration.right {
    -webkit-transform: translateX(-20%);
    -moz-transform: translateX(-20%);
    transform: translateX(-20%);
  }
}
.modal-wrapper .popup-modal {
  position: absolute;
  background-color: #CBDBFA;
  top: 150px;
  left: 50%;
  width: 95%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  transform: translateX(-50%);
  border: 3px solid #1E1E1E;
  border-radius: 10px;
}
@media (min-width: 576px) {
  .modal-wrapper .popup-modal {
    width: 85%;
  }
}
@media (min-width: 768px) {
  .modal-wrapper .popup-modal {
    width: 70%;
  }
}
@media only screen and (min-width: 992px) {
  .modal-wrapper .popup-modal {
    width: 55%;
  }
}
@media only screen and (min-width: 1200px) {
  .modal-wrapper .popup-modal {
    width: 45%;
  }
}
.modal-wrapper .popup-modal ul, .modal-wrapper .popup-modal li {
  list-style: none;
  margin: 0;
  padding: 0;
}
.modal-wrapper .popup-modal .pills-wrapper {
  display: flex;
  flex-wrap: wrap;
  height: 65px;
  margin-bottom: 20px;
}
.modal-wrapper .popup-modal .pills-wrapper .pill {
  background-color: #0C527A;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  flex-basis: 50%;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: bold;
  color: white;
}
.modal-wrapper .popup-modal .pills-wrapper .pill:first-of-type {
  border-radius: 6px 0 0 0;
}
.modal-wrapper .popup-modal .pills-wrapper .pill:last-of-type {
  border-radius: 0 6px 0 0;
}
.modal-wrapper .popup-modal .pills-wrapper .pill:hover {
  background-color: #00456B;
}
.modal-wrapper .popup-modal .pills-wrapper .pill.active {
  color: #1E1E1E;
  background-color: #CBDBFA;
}
.modal-wrapper .title {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 25px;
}
.modal-wrapper .form-group {
  width: 85%;
  margin: 10px auto 20px;
}
.modal-wrapper .form-group .form-control {
  z-index: 20;
  padding: 7px 10px 7px 15px;
  height: auto;
  font-family: 'Exo 2', sans-serif;
}
.modal-wrapper label {
  cursor: pointer;
}
.modal-wrapper .btn.btn-block {
  width: 85%;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: bold;
  margin: 10px auto 0;
}
.modal-wrapper .btn.btn-block:last-of-type {
  margin: 10px auto 25px;
}

/*xxLOGIN Popup Styling Endxx*/









/*Slider Styling Started*/

.container
{
	position: relative;
	overflow: hidden;
	width: 100%;
	height: 80vh;
}
.container .slider
{
	position: absolute;
	top: 0;
	left: 0;
	width: 500%;
	height: 100%;
	animation: animate 15s linear infinite;
}
.container .slider .slide
{
	position: relative;
	width: 20%;
	height: 100%;
	float: left;
}
.container .slider .slide .caption
{
	position: absolute;
	bottom: 60px;
	left: 60px;
	right: 60px;
	padding: 30px;
	background: rgba(0,0,0,.5);
	box-sizing: border-box;
	transition: 0.5s;
}
.container .slider .slide .caption h2
{
	margin: 0 0 20px;
	padding: 0;
	color: #fff;
	font-size: 48px;
	transition: 0.5s;
}
.container .slider .slide .caption p
{
	margin: 0;
	padding: 0;
	color: #fff;
	font-size: 18px;
	transition: 0.5s;
}
.container .slider .slide.slide1
{
	background:url("../../Images/Baby Looney Toones/Abt SlideShow.jpg");
	background-size: cover;
	background-position: center;
}
.container .slider .slide.slide2
{
	background: url("../../Images/Popeye/Abt Popeye.jpg");
	background-size: cover;
	background-position: center;
}
.container .slider .slide.slide3
{
	background: url("../../Images/Others/Abt Minions SlideShow.jpg");
	background-size: cover;
	background-position: center;
}
.container .slider .slide.slide4
{
	background: url("../../Images/Others/Abt Smurfs.jpg");
	background-size: cover;
	background-position: center;
}
@keyframes animate
{
	0%
	{
		left: 0;
	}
	20%
	{
		left: 0;
	}
	25%
	{
		left: -100%;
	}
	45%
	{
		left: -100%;
	}
	50%
	{
		left: -200%;
	}
	70%
	{
		left: -200%;
	}
	75%
	{
		left: -300%;
	}
	95%
	{
		left: -300%;
	}
	100%
	{
		left: -400%;
	}
}
@media (max-width: 768px)
{
	.container .slider .slide .caption
	{
		bottom: 20px;
		left: 20px;
		right: 20px;
		padding: 20px;
	}
	.container .slider .slide .caption h2
	{
		margin: 0 0 10px;
		font-size: 30px;
	}
	.container .slider .slide .caption p
	{
		font-size: 16px;
	}
}

/* xxSlider Styling Endxx */




/*Footer STYLING Started*/

.clr{
  clear: both;
}
.footer-wrapper-1{
  width: 100%;
  height: auto;
  min-height: 250px;
  margin:auto;
  background-image:url(../../Images/Others/Footer.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  overflow: hidden;
  position: relative;
  padding-top: 20px;
  bottom: 0px;
  font-family: arial;
}
.footer-social-icons{
  width: 100%;
  height: auto;
  margin:auto;
  margin-bottom: 40px;
}
.footer-social-icons ul{
  margin:0px;
  padding: 0px;
  text-align: center;
}
.footer-social-icons ul li{
  display: inline-block;
  margin-right: 2px;
  width: 36px;
  height: 36px;
  text-align: center;
}
.footer-social-icons ul li a{
  color: #fff;
  display: block;
  font-size: 22px;
  text-shadow: 0px 0px 5px rgba(0,0,0,0.75);
}
.footer-social-icons ul li a i{
  line-height: 36px;
}
.footer-social-icons ul li:nth-child(1){
    background: #3b5998;
}
.footer-social-icons ul li:nth-child(2){
    background: #1da1f2;
}
.footer-social-icons ul li:nth-child(3){
    background: #25d366;
}
.footer-social-icons ul li:nth-child(4){
    background: #c32aa3;
}
.footer-social-icons ul li:nth-child(5){
    background: #007bb5;
}
.footer-social-icons ul li:nth-child(6){
    background: #ff0000;
}
.footer-social-icons ul li:nth-child(7){
    background: #db4437;
}
.footer-social-icons ul li:nth-child(8){
    background: #00aff0;
}
.footer-social-icons ul li:nth-child(9){
    background: #09b83e;
}
.footer-social-icons ul li:nth-child(10){
    background: #bd081c;
}
.footer-mid-part{
  width: 100%;
  height: auto;
  margin: auto;
}
.footer-section-one{
  width: 100%;
  height: auto;
  margin: auto;
  padding: 20px 20px;
  background: rgba(255,255,255,.1);
}
.footer-section-two{
  width: 100%;
  height: auto;
  margin: auto;
  padding: 20px 20px;
}
.footer-section-three{
  width: 100%;
  height: auto;
  margin: auto;
  padding: 20px 20px;
  background: rgba(255,255,255,.1);
}
.footer-heading{
   width: 100%;
  height: auto;
  margin: auto;
}
.footer-heading h2{
  font-size: 25px;
  text-align: left;
  color: #fff;
  text-transform: uppercase;
  margin: 0px;
}
.footer-contact-box{
  width: 100%;
  height: auto;;
  margin: auto;
  margin-top: 13px;
}
.footer-contact-icon{
  width: 25px;
  height: 25px;
  float: left;
}
.footer-contact-icon i{
  color: #fff;
  font-size: 20px;
}
.footer-contact-text{
  width: 85%;
  height: auto;
  float: left;
  margin-left: 10px;
}
.footer-contact-text p{
  font-size: 16px;
  text-align: left;
  color: #fff;
  cursor: pointer;
	transition: 0.3s;
}
.footer-contact-text p a{
  font-size: 16px;
  text-align: left;
  color: #fff;
  text-decoration: none;
	transition: .3s;

}
.footer-contact-text p:hover{
  color: #f00;
}
.footer-contact-box:hover .footer-contact-icon i{
   color: #f00;
}
.footer-contact-box:hover .footer-contact-text p a{
  color: #f00;
}
.footer-link{
  width: 100%;
  height:auto;
  margin: auto;
  margin-top: 20px;
}
.footer-link ul{
  margin:0px;
  padding: 0px;
}
.footer-link ul li{
  list-style-type: none;
  text-align: center;
  padding-top: 5px;
}
.footer-link ul li a{
  font-size: 16px;
  color: #fff;
  text-decoration: none;
   text-transform: capitalize;
	transition: .3s;
}
.footer-link ul li a:hover{
  color: #f00;
}
.footer-section-two .footer-heading h2{
  text-align: center;
}
.footer-form{
  width: 100%;
  height: auto;
  margin: auto;
  margin-top: 20px;
}
.footer-form-box{
   width: 100%;
  height: auto;
  margin: auto;
  margin-top: 20px;
}
.footer-form-style{
  width: 100%;
  height: 40px;
  border-left: none;
  border-top: none;
  border-right: none;
  border-bottom:1px solid rgba(255,255,255,.1);
  background:transparent;
  font-size: 14px;
  text-align: left;
  padding: 0px 10px;
  color: #fff;
}
.footer-form-submit-style{
  width: 129px;
  height: 35px;
  font-size: 16px;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  background: rgba(255,255,255,.5);
  border:none;
  margin-top: 1px;
}
.footer-form-submit-style:active{
  background: #f00;
}
.footer-bottom{
  width: 100%;
  height: auto;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}
.footer-bottom{
  font-size: 14px;
  text-align: center;
  color: #fff;
}
.top-img{
  position: absolute;
  background: url(top-divder.png);
  top: -20px;
  left: 0px;
  width: 100%;
  height: 55px;
}
h1{
  font-size: 60px;
  text-align: center;
  text-transform: uppercase;
  padding-top: 30px;
}
h1 span{
  color: #f00;
}

/*xxFooter STYLING Endxx*/